body
{
    width: auto;
    margin-left: 48px;
    margin-right: 48px;
    font-family:'Raleway', sans-serif;
    font-size: 21px;
    color: black;
}


.maincontainer
{
    position: static;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    width: 100%;
    height: auto;
}


.header
{
    position: relative;
    top: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 1152px;
    height: 96px;
    padding-top: 0px;
    margin-top: 6px;
}

.logo
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 120px;
    height: 60px;
}

.nav-links
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: nowrap;
    width: 384px;
    height: 72px;
    padding-left: 0px;
}

.nav-links li
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: nowrap;
    list-style: none;
}

.nav-links li #acc
{
    width: 120px;
    height: 24px;
    padding-right: 48px;
    padding-left: 48px;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
}

.nav-links li #act
{
    width: 72px;
    height: 24px;
    padding-right: 48px;
    padding-left: 96px;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
}

.nav-links li:hover
{
    padding-top: 65px;
    color: #0065FC;
    border-top: 4px solid #0065FC;
}

.nav-links li:active
{
    padding-top: 65px;
    color: #0065FC;
    border-top: 4px solid #0065FC;
}

.top 
{
    position: relative;
    top: 80px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-around;
    width: 1152px;
    height: 288px;
}

.topheading
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 384px;
    height: 72px;
}

.h3
{
    width: 384px;
    height: 24px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 500;
}

.h5
{
    width: 192px;
    height: 18px;
    padding: 0px;
    margin-top: 10px;
    font-size: 16px;    
    font-weight: 400;
}

.search-box
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 384px;
    height: 72px;
    padding: 0px;
    background-color: white;
    border-radius: 10px;
}

.fa-location-dot
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    padding: 24px;
    font-size: 20px;
    color: black;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

input
{
    display: flex;
    justify-content: center;
    width: 192px;
    height: 72px;
    padding-left: 10px;
    margin: 0px;
    margin-right: -4px;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #F2F2F2;
    outline: none;
}

.button1
{
    display: flex;
    justify-content: center;
    width: 84px;
    height: 72px;
    padding: 21px;
    margin-left: 0px;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: #0065FC;
    border-style: none;
    border-radius: 0 15px 15px 0;
}

.incbutton
{
    padding: 0px;
    margin: 0px;
    border-style: none;
    border-radius: 0 15px 15px 0;
    visibility: hidden;
}

.fa-magnifying-glass
{
    width: 24px;
    height: 24;
    margin-left: 0px;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: #0065FC;
    border-style: none;
    border-radius: 0 15px 15px 0;

}

.filters
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
    flex-wrap: nowrap;
    width: 864px;
    height: 72px;
    margin-top: 48px;
    margin-bottom: 0px;
}

p
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 48px;
    padding-bottom: 0px;
    margin-right: 25px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 20px;
    font-weight: 600;
}

.buttons
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: nowrap;
    width: 768px;
    height: 72px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.button2
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 144px;
    height: 48px;
    padding: 18px;
    padding-left: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    border: 2px solid #F2F2F2;
    border-radius: 32px;
}

.button3
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 192px;
    height: 48px;
    padding: 18px;
    padding-left: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    border: 2px solid #F2F2F2;
    border-radius: 32px;
}

.fa-money-bill-wave
{
    padding: 19px;
    margin-right: 20px;
    margin-left: -2px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 38px;
}

.fa-child
{
    padding: 19px;
    margin-right: 20px;
    margin-left: -2px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 38px;
}

.fa-heart
{
    padding: 19px;
    margin-right: 20px;
    margin-left: -2px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 38px;
}

.fa-dog
{
    padding: 19px;
    margin-right: 20px;
    margin-left: -2px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 38px;
}


.button2:hover
{
    color: white;
    background-color: #0065FC;
}

.button3:hover
{
    color: white;
    background-color: #0065FC;
}

.info
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 384px;
    height: 48px;
    margin-top: 40px;
}

.fa-info
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 900;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 30px;
}

.p
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: 336px;
    height: 48px;
    margin-left: 18px;
    font-size: 16px;
}


.middle
{
    position: relative;
    top: 288px;
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    width: 1152px;
    height: 552px;
}


.left
{
    position: relative;
    left: 36px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap;
    width: 720px;
    height: 528px;
    padding-top: 30px;
    margin-bottom: 20px;
    background-color: #F2F2F2;
    border-radius: 25px;
}

.h2
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 264px;
    height: 24px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-left: 60px;
    font-size: 28px;
    font-weight: 500;
}

.card1
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
    flex-wrap: nowrap;
    width: 216px;
    height: 168px;
    margin: 20px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 5px 10px #d6d1d1;
}

.card-image
{
    max-width: 192px;
    max-height: 96px;
    padding: 7px;
    overflow: hidden;
    border-radius: 25px 25px 0px 0px;
}

.img
{
    width: 192px;
    height: 96px;
    border-radius: 25px 25px 0px 0px;
}

.card-info
{
    width: 192px;
    height: 72px;
    padding: 0px;
    margin-top: 0px;
    margin-left: 25px;
}

.card-title
{
    width: 168px;
    height: 18px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 18px;
}

.description
{
    width: 144px;
    height: 18px;
    margin-top: 8px;
    margin-bottom: 5px;
    font-size: 14px;
}

.star-rating
{
    width: 60px;
    height: 18px;
    margin-bottom: 10px;
}

.checked
{
    color: #0065FC;

}

.unchecked
{
    color: #d6d1d1;
}

.card1:hover
{
    box-shadow: 0.5px 1px #d6d1d1;
}

.show
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 96px;
    height: 36px;
    margin-bottom: 60px;
    margin-left: 65px;
}

.show a
{
    font-size: 21px;
    font-weight: 500;
}


.right
{
    position: relative;
    right: 36px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 528px;
    padding: 0px;
    margin-bottom: 20px;
    background-color: #F2F2F2;
    border-radius: 25px;
}

.h2
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 264px;
    height: 24px;
    margin-left: 60px;
    font-size: 28px;
    font-weight: 500;
}

.i
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 24px;
    height: 24px;
    padding: 60px;
}

.card2
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-between;
    flex-wrap: nowrap;
    width: 288px;
    height: 120px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 5px 10px #d6d1d1;
}

.card-image
{
    max-width: 102px;
    max-height: 120px;
    padding: 7px;
    overflow: hidden;
    border-radius: 25px 0px 0px 25px;
}

.img
{
    width: 102px;
    max-height: 120px;
    border-radius: 25px 0px 0px 25px;
}

.card-info
{
    width: 192px;
    height: 54px;
    margin-top: 20px;
    margin-left: 20px;
}

.card-title
{
    width: 168px;
    height: 18px;
    margin-top: 3px;
    margin-bottom: 0px;
    font-size: 18px;
}

.description
{
    width: 144px;
    height: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.star-rating
{
    width: 60px;
    height: 18px;
    margin-top: 60px;
}

.checked
{
    color: #0065FC;

}

.unchecked
{
    color: #F2F2F2;
}

.card2:hover
{
    box-shadow: 0.5px 1px #d6d1d1;
}


.bottom
{
    position: relative;
    bottom: 190px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    width: 1152px;
    height: 432px;
    margin-top: 30px;
    }

h2
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 196px;
    height: 24px;
    margin-top: 50px;
    margin-left: 60px;
    font-size: 28px;
    font-weight: 500;
}

.card3
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 264px;
    height: 384px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px #d6d1d1;
}

.card-image
{
    width: 252px;
    height: 336px;
    padding: 7px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.img
{
    width: 252px;
    height: 336px;
    border-radius: 20px 20px 0px 0px;
}

.card-info
{
    width: 264px;
    height: 48px;
    padding: 0px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 21px;
    font-weight: 600;
}

.card-title
{
    width: 168px;
    height: 24px;
}

.card3:hover
{
    box-shadow: 0 0.5px 1px #d6d1d1;
}

.margin1
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card4
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 264px;
    height: 192px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px #d6d1d1;
}

.card-image
{
    width: 252px;
    height: 144px;
    padding: 7px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.img
{
    width: 252px;
    height: 144px;
    border-radius: 20px 20px 0px 0px;
}

.card-info
{
    width: 264px;
    height: 48px;
    padding: 0px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 21px;
    font-weight: 600;
}

.card-title
{
    width: 96px;
    height: 24px;
}

.card4:hover
{
    box-shadow: 0 0.5px 1px #d6d1d1;
}

.card6
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 264px;
    height: 144px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px #d6d1d1;
}

.card-image
{
    width: 252px;
    height: 96px;
    padding: 7px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.img
{
    width: 252px;
    height: 96px;
    border-radius: 20px 20px 0px 0px;
}

.card-info
{
    width: 264px;
    height: 48px;
    padding: 0px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 21px;
    font-weight: 600;
}

.card-title
{
    width: 84px;
    height: 24px;
}

.card6:hover
{
    box-shadow: 0 0.5px 1px #d6d1d1;
}

.margin2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card5
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 264px;
    height: 168px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px #d6d1d1;
}

.card-image
{
    width: 252px;
    height: 120px;
    padding: 7px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.img
{
    width: 252px;
    height: 120px;
    border-radius: 20px 20px 0px 0px;
}

.card-info
{
    width: 264px;
    height: 48px;
    padding: 0px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 21px;
    font-weight: 600;
}

.card-title
{
    width: 168px;
    height: 24px;
}

.card5:hover
{
    box-shadow: 0 0.5px 1px #d6d1d1;
}


.footer
{
    position: relative;
    bottom: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: nowrap;
    width: 1200px;
    height: 192px;
    padding-bottom: 30px;
    margin-top: 70px;
    background-color: #F2F2F2;
    background-size: 100%;
}
 
.footcontainer
{
    width: 384px;
    height: 144px;
    margin-top: 30px;
    margin-right: 48px;
    margin-left: 24px;
}

.foothead1
{
    width: 192px;
    height: 120px;
    list-style: none;
}

.foothead2
{
    width: 168px;
    height: 96px;
    list-style: none;
}

.foothead3
{
    width: 96px;
    height: 96px;
    list-style: none;
}

.foothead a
{
    flex-wrap: nowrap;
    margin-top: 20px;
    font-size: 21px;
    font-weight: 600;
    text-decoration: none;
}    
    
.footsub
{
    padding-bottom: 20px;
    list-style: none;
}    

.footsub a
{
    flex-wrap: nowrap;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}