body
{
    max-width: fit-content;
    max-height: 100%;
    padding: 0px;
    margin: 0px;
    font-family:'Raleway', sans-serif;
    font-size: 21px;
    color: black;
}


.maincontainer
{
    position: static;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    gap: 48px;
    width: 1440px;
    height: 100%;
    padding: 0px;
    margin-right: 48px;
    margin-left: 48px;
}


.header
{
    position: static;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 1344px;
    height: 96px;
    padding: 0px;
    margin: 0px;
}

.logo
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 144px;
    height: 72px;
    padding: 0px;
    margin: 0px;
}

.logo img
{
    width: 96px;
    height: 48px;
}

.nav-links
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: space-between;
    flex-wrap: nowrap;
    gap: 72px;
    width: 384px;
    height: 48px;
    padding: 0px;
    margin: 0px;
}

.nav-links li
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: space-between;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
}

.nav-links li #acc
{
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 24px;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
}

.nav-links li #act
{
    display: flex;
    flex-direction: column;
    width: 72px;
    height: 24px;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
}

.nav-links li:hover
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 42px;
    padding: 36px;
    margin: 0px;
    color: #0065FC;
    border-top: 4px solid #0065FC;
}

.nav-links li:active
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 42px;
    padding: 36px;
    margin: 0px;
    color: #0065FC;
    border-top: 4px solid #0065FC;
}


.top 
{
    position: static;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    align-content: space-between;
    gap: 24px;
    width: 1344px;
    height: 288px;
    padding: 0px;
    margin: 0px;
}

.top-heading
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 12px;
    width: 384px;
    height: 60px;
    padding: 0px;
    margin: 0px;
}

h3
{
    width: 384px;
    height: 24px;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-weight: 500;
}

h5
{
    width: 192px;
    height: 18px;
    padding: 0px;
    margin: 0px;
    font-size: 16px;    
    font-weight: 400;
}

.search-box
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    width: 384px;
    height: 60px;
    padding: 0px;
    margin: 0px;
    background-color: white;
    border-radius: 10px;
}

.fa-location-dot
{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-basis: 13%;
    width: 48px;
    height: 48px;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    color: black;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.input
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 62%;
    width: 192px;
    height: 46px;
    padding-left: 14px;
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #F2F2F2;
    outline: none;
}

.button1
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
    width: 84px;
    height: 48px;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    color: white;
    text-align: center;
    background-color: #0065FC;
    border-style: none;
    border-radius: 0 15px 15px 0;
}

.incbutton
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 0%;
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
    color: white;
    border-style: none;
    border-radius: 0 15px 15px 0;
    visibility: hidden;
}

.fa-magnifying-glass
{   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 0%;
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    color: white;
    text-align: center;
    border-style: none;
    border-radius: 0 15px 15px 0;

}

.filters
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
    flex-wrap: nowrap;
    width: 864px;
    height: 60px;
    padding: 0px;
    margin: 0px;
}

.preview
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 7%;
    width: 48px;
    height: 48px;
    padding-right: 36px;
    padding-left: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
}

.buttons
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-wrap: nowrap;
    width: 768px;
    height: 60px;
    padding: 0px;
    margin: 0px;
}

.button2
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 21%;
    flex-wrap: nowrap;
    width: 144px;
    height: 48px;
    padding-right: 18px;
    padding-left: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
    border: 2px solid #F2F2F2;
    border-radius: 32px;
}

.button3
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 25%;
    flex-wrap: nowrap;
    width: 192px;
    height: 48px;
    padding-right: 18px;
    padding-left: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
    border: 2px solid #F2F2F2;
    border-radius: 32px;
}

.fa-money-bill-wave
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 38px;
}

.fa-child
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 38px;
}

.fa-heart
{   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 38px;
}

.fa-dog
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 38px;
}

.button2:hover
{
    color: white;
    background-color: #0065FC;
    padding-right: 18px;
    padding-left: 0px;
    margin: 0px;
}

.button3:hover
{
    color: white;
    background-color: #0065FC;
    padding-right: 18px;
    padding-left: 0px;
    margin: 0px;
}

.info
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    align-content: space-between;
    flex-wrap: nowrap;
    width: 420px;
    height: 60px;
    padding: 0px;
    margin: 0px;
}

.fa-info
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 900;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 30px;
}

.more
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 384px;
    height: 24px;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
}


.middle
{
    position: static;
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0px;
    width: 1344px;
    height: 576px;
    padding: 0px;
    margin: 0px;
}

.middle-heading
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    visibility: hidden;
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
}

.left
{
    position: static;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
    flex-basis: 66%;
    flex-wrap: nowrap;
    gap: 28px;
    width: 768px;
    height: 576px;
    padding-right: 24px;
    margin-right: 24px;
    background-color: #F2F2F2;
    border-radius: 25px;
}

.left-heading
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.accom
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 744px;
    height: 24px;
    padding-top: 36px;
    padding-left: 0px;
    margin: 0px;
    font-size: 20px;
    font-weight: 500;
}

.row1
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    flex-grow: 1;
    flex-wrap: nowrap;
    gap: 28px;
    width: 770px;
    height: 216px;
    padding: 0px;
    margin: 0px;
}

.card1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 240px;
    height: 192px;
    padding: 0px;
    margin: 0px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 10px #d6d1d1;
}

.card1-image
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 60%;
    width: 230px;
    height: 96px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border: white;
    border-style: solid;
    border-width: 4px;
    border-radius: 20px 20px 0px 0px;
}

.card1-info
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-basis: 40%;
    flex-wrap: nowrap;
    gap: 3px;
    width: 192px;
    height: 72px;
    padding: 0px;
    margin: 0px;
}

.card1-title
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 28%;
    flex-wrap: nowrap;
    width: 210px;
    height: 18px;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
}

.description
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 28%;
    flex-wrap: nowrap;
    width: 144px;
    height: 18px;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-weight: 400;
}

.star-rating
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 28%;
    flex-wrap: nowrap;
    width: 60px;
    height: 18px;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}

.checked
{
    color: #0065FC;
}

.unchecked
{
    color: #F2F2F2;
}

.card1:hover
{
    box-shadow: 0.5px 1px #d6d1d1;
    padding: 0px;
    margin: 0px;
}

.row2
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    flex-grow: 1;
    flex-wrap: nowrap;
    gap: 28px;
    width: 770px;
    height: 216px;
    padding: 0px;
    margin: 0px;
}

.card2
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
    flex-wrap: nowrap;
    width: 240px;
    height: 192px;
    padding: 0px;
    margin: 0px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 10px #d6d1d1;
}

.card2-image
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 60%;
    width: 230px;
    height: 96px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border: white;
    border-style: solid;
    border-width: 4px;
    border-radius: 20px 20px 0px 0px;
}

.card2-info
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 40%;
    flex-wrap: nowrap;
    gap: 3px;
    width: 192px;
    height: 72px;
    padding: 0px;
    margin: 0px;
    
}

.card2-title
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 28%;
    flex-wrap: nowrap;
    width: 168px;
    height: 18px;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
}

.description
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 28%;
    flex-wrap: nowrap;
    width: 144px;
    height: 18px;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

.star-rating
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 28%;
    flex-wrap: nowrap;
    width: 60px;
    height: 18px;
    padding: 0px;
    margin: 0px;
}

.checked
{
    color: #0065FC;
}

.unchecked
{
    color: #F2F2F2;
}

.card2:hover
{
    box-shadow: 0.5px 1px #d6d1d1;
    padding: 0px;
    margin: 0px;
}

.show
{   
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: nowrap;
    width: 744px;
    height: 24px;
    padding-bottom: 36px;
    padding-left: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
}


.right
{
    position: static;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    flex-basis: 33%;
    width: 384px;
    height: 576px;
    padding-bottom: 24px;
    padding-left: 24px;
    margin-left: 24px;
    background-color: #F2F2F2;
    border-radius: 25px;
}

.right-heading
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-basis: 10%;
    width: 336px;
    height: 24px;
    padding: 0px;
    margin: 0px;
}

.most
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    width: 144px;
    height: 24px;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-weight: 500;
}

.fa-chart-line
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    width: 24px;
    height: 24px;
    padding: 0px;
    margin: 0px;
}

.card3
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-wrap: nowrap;
    flex-basis: 20%;
    gap: 24px;
    width: 336px;
    height: 132px;
    padding: 0px;
    margin: 0px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 10px #d6d1d1;
}

.card3-image
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    flex-basis: 40%;
    width: 120px;
    height: 120px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border: white;
    border-style: solid;
    border-width: 4px;
    border-radius: 20px 0px 0px 20px;
}

.card3-info
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
    flex-basis: 60%;
    gap: 24px;
    width: 192px;
    height: 114px;
    padding: 0px;
    margin: 0px;
}

.card3-title
{
    width: 168px;
    height: 18px;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
}

.description
{
    width: 144px;
    height: 18px;
    padding: 0px;
    margin: 0px;
}

.star-rating
{
    width: 60px;
    height: 18px;
    padding: 0px;
    margin: 0px;
}

.checked
{
    color: #0065FC;
}

.unchecked
{
    color: #F2F2F2;
}i

.card3:hover
{
    box-shadow: 0.5px 1px #d6d1d1;
    padding: 0px;
    margin: 0px;
}

.bottom-heading
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 384px;
    height: 30px;
    padding: 0px;
    margin: 0px;
}

.activ
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: nowrap;
    width: 288px;
    height: 24px;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-weight: 500;
}

.bottom
{
    position: static;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;
    flex-wrap: wrap;
    gap: 33px;
    width: 1344px;
    height: 480px;
    padding: 0px;
    margin: 0px;
}

.card4
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 304px;
    height: 432px;
    padding: 0px;
    margin: 0px;
    border-radius: 20px;
    box-shadow: 0 5px 10px #d6d1d1;
}

.card4-image
{
    width: 304px;
    height: 384px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.card4-info
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 304px;
    height: 48px;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
}

.card4-title
{
    width: 264px;
    height: 24px;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
}

.card4:hover
{
    box-shadow: 0 0.5px 1px #d6d1d1;
    padding: 0px;
    margin: 0px;
}

.margin1
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 33px;
    padding: 0px;
    margin: 0px;
}

.card5
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 304px;
    height: 240px;
    padding: 0px;
    margin: 0px;
    border-radius: 20px;
    box-shadow: 0 5px 10px #d6d1d1;
}

.card5-image
{
    width: 304px;
    height: 192px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.card5-info
{    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 304px;
    height: 48px;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
}

.card5-title
{
    width: 264px;
    height: 24px;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
}

.card5:hover
{
    box-shadow: 0 0.5px 1px #d6d1d1;
    padding: 0px;
    margin: 0px;
}

.card7
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 304px;
    height: 160px;
    padding: 0px;
    margin: 0px;
    border-radius: 20px;
    box-shadow: 0 5px 10px #d6d1d1;
}

.card7-image
{
    width: 304px;
    height: 120px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.card7-info
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 304px;
    height: 48px;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
}

.card7-title
{
    width: 264px;
    height: 24px;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
}

.card7:hover
{
    box-shadow: 0 0.5px 1px #d6d1d1;
    padding: 0px;
    margin: 0px;
}

.margin2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 33px;
    padding: 0px;
    margin: 0px;
}

.card6
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 304px;
    height: 198px;
    padding: 0px;
    margin: 0px;
    border-radius: 20px;
    box-shadow: 0 5px 10px #d6d1d1;
}

.card6-image
{
    width: 304px;
    height: 168px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.card6-info
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 304px;
    height: 48px;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
}

.card6-title
{
    width: 264px;
    height: 24px;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
}

.card6:hover
{
    box-shadow: 0 0.5px 1px #d6d1d1;
    padding: 0px;
    margin: 0px;
}


.footer
{
    position: static;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    gap: 96px;
    width: 1440px;
    height: 240px;
    padding: 0px;
    margin: 0px;
    color: black;
    background-color: #F2F2F2;
    background-size: 1200px;
}
 
.footcontainer
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-around;
    flex-wrap: nowrap;
    gap: 12px;
    width: 384px;
    height: 144px;
    padding-left: 48px;
    margin: 0px;
}

.footheader1
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 192px;
    height: 48px;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    list-style: none;
}

.footheader2
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 168px;
    height: 48px;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    list-style: none;
}

.footheader3
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 72px;
    height: 48px;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    list-style: none;
}

.footnote
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 288px;
    height: 24px;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}    




@media screen and (max-width:768px)
{
    body
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        max-width: 400px;
        margin: 0px;
        padding: 0px;
    }
    
    .maincontainer
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width :100%;
        padding: 0px;
        margin: 0px;
    }
   
    .header
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        width: 100%;
    }

    .logo
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 60px;
    }

    .navi-links
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        width: 100%;
    }

    .navi-links li
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        width: 100%;
        border-bottom:2px solid  #F2F2F2; 
    }

    .navi-links li a:hover
    {
     border-bottom: 2px solid #0065FC;
     border-top: none;
    }

    .navi-links li a:active
    {
     border-bottom: 2px solid #0065FC;
     border-top: none;
    }


    .top
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: 10px;
    }

    .top-heading
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        max-width: 100px ; 
    }

    h3
    {
        font-size: 20px;
    }

    h5
    {
        font-size: 16px;
    }
     
    .search-box
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        max-width: 100%;
        height: 70px;
    }

    .fa-location-dot 
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width:auto;
    }

    .input
    {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        max-width: 200px;
        height: 70px;
    }

    .button1
    {

        width: 10px;
        padding: 0px;
        position: relative;
        left: -20px;
        visibility: hidden;
    }

    .icnbutton
    {
        padding: 0px;
        margin: 0px;
        border-style: none;
        border-radius: 15px;
        visibility: visible;
        position: relative;
        left: -40px;
    }

    .fa-magnifying-glass
    {
        background: #0065FC;
        color: white;
        margin-left: 0px;
        border-style: none;
        border-radius: 15px;
        font-size: 20px;
        text-align: center;
        width: auto;
    }

    .filters
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: space-between;
        flex-wrap:wrap;
        width: 100%;
        max-height: 340px;
    }

    .button2
    {
        font-size: 17px;
        width: auto; 
        padding-left: 0px;
    }

    .fa-money-bill-wave
    {
        width: 170px;
    }

    .fa-heart
    {
        width:170px;
        position: absolute;
        right: 10px;
    }

    .button3
    {
        font-size: 17px;
        width: auto; 
        padding-left: 0px;
    }

    .fa-child
    {
        width:230px;
    }
    
    .fa-dog
    {
        width: 250px;
    }

    .info
    {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        font-size: 19px;
        max-width: 350px;
        padding-bottom: 20px;
    }


    .middle
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width:auto;
    }


    .right
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 100%;
        background: #F2F2F2;
        padding-top: 0px;
    }

    .most
    {
        margin-left: 10px;
    }

    .card3
    {
        margin-left: 10px;
        margin-right: 10px;
        width: 360px;
        height: 220px;
    }

    .star-rating
    {
        margin-top:40px;
    }

    .left
    {
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 100%;
        margin-bottom: 0px;
        background-color: none;
        border-radius:0px;
    }

    .accom
    {
        width: 100%;
        font-size: 23px;
        padding-top: 20px;
        margin-left: 20px;
        margin-top: 20px;
    }

    .card1
    {
        width: 100%;
        margin: 10px;
        margin-bottom: 20px;
    }

    .card2
    {
        width: 100%;
        margin: 10px;
        margin-bottom: 20px;
    }

    .show
    {
        margin-left: 10px;
        font-size: 23px;
    }

    .activ
    {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        font-size: 23px;
        padding-top: 0px;
        margin-top: 0px;
        margin-left: 10px;
    }

    .bottom
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-left: 10px;
    }

    .card4 
    {
        width: 355px;
        height: 200px;
    }

    .card4-image
    {
        width: 100%;
        height: 140px;
    }

    .card4-info
    {
     margin-top: 10px;
    }

    .margin1
    {
        width: 355px;
    }

    .card5 
    {
        width: 355px;
        height: 200px;
    }

    .card5-image
    {
        width: 100%;
        height: 140px;
    }

    .card5-info
    {
        margin-top: 10px;
    }

    .card7 
    {
        width: 355px;
        height: 200px;
    }

    .card7-image
    {
        width: 100%;
        height: 140px;
    }
    
    .card7-info
    {
        margin-top: 10px;
    }

    .margin2
    {
        width: 355px;
    }

    .card6 
    {
        width: 355px;
        height: 200px;
    }

    .card6-image
    {
        width: 100%;
        height: 140px;
    }
    
    .card6-info
    {
        margin-top: 10px;
    }
    
    .footer 
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        width: 375px;
        margin-left: 0px;
        margin-right: 30px;
    }

    .footcontainer
    {        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;

        width: 375px;
    }
   
}
