body
{
    width: 100%;
    font-family:'Raleway', sans-serif;
    margin: 0px;
    font-size: 21px;
    color: black;
}

a
{
    color: black;
    text-decoration: none;
}

.maincontainer
{
    position: relative;
    left: 48px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    gap: 24px;
    width: 1248px;
    height: auto;
    padding: 0px;
    margin: 0px;
}

.header
{
    position: static;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 1248px;
    height: 96px;
    padding: 0px;
    margin: 0px;
}

.logo
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 144px;
    height: 72px;
    padding: 0px;
    margin: 0px;
}

.logo img
{
    display: flex;
    object-fit: contain;
    width: 96px;
    height: 48px;
}

.nav-links
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: space-between;
    flex-wrap: nowrap;
    gap: 72px;
    width: 384px;
    height: 48px;
    padding: 0px;
    margin: 0px;
}

.nav-links li
{
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
}

.nav-links li #accom
{
    width: 120px;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
}

.nav-links li #activ
{
    width: 72px;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
}

.nav-links li :hover
{
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 42px;
    padding: 36px;
    margin: 0px;
    color: #0065FC;
    border-top: 4px solid #0065FC;
}

.nav-links li :active
{
    justify-content: space-between;
    align-items: flex-start;
    gap: 42px;
    padding: 36px;
    margin: 0px;
    color: #0065FC;
    border-top: 4px solid #0065FC;
}

.top 
{
    position: static;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    align-content: space-between;
    gap: 24px;
    width: 1248px;
    height: 288px;
    padding: 0px;
    margin: 0px;
}

.top-heading
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 12px;
    width: 384px;
    height: 60px;
    padding: 0px;
    margin: 0px;
}

h3
{
    width: 384px;
    height: 24px;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-weight: 600;
}

h5
{
    width: 175px;
    height: 18px;
    padding: 0px;
    margin: 0px;
    font-size: 16px;    
    font-weight: 400;
}

.search-box
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    width: 384px;
    height: 60px;
    padding: 0px;
    margin: 0px;
    background-color: white;
    border-radius: 10px;
}

.fa-solid
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0px;
    margin: 0px;
} 

.fa-location-dot
{
    flex-basis: 14%;
    width: 48px;
    height: 48px;
    color: black;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.input
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 70%;
    width: 228px;
    height: 44px;
    padding-left: 18px;
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #F2F2F2;
    outline: none;
}

.iconbutton
{
    flex-basis: 0%;
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    visibility: hidden;
}

.fa-magnifying-glass
{   
    width: 0px;
    height: 0px;
    padding: 0px;
    visibility: hidden;
}

.button1
{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-basis: 25%;
    width: 84px;
    height: 48px;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-align: center;
    background-color: #0065FC;
    border-style: none;
    border-radius: 0 15px 15px 0;
}

.filters
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
    flex-wrap: nowrap;
    width: 864px;
    height: 60px;
    padding: 0px;
    margin: 0px;
}

.preview
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 7%;
    width: 48px;
    height: 48px;
    padding-right: 24px;
    padding-left: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
}

.buttons
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-wrap: nowrap;
    gap: 24px;
    width: 816px;
    height: 60px;
    padding: 0px;
    margin: 0px;
}

.button2
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-basis: 21%;
    flex-wrap: nowrap;
    width: 160px;
    height: 48px;
    padding-right: 18px;
    padding-left: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
    border: 2px solid #d8d6d6;
    border-radius: 32px;
}

.fa-money-bill-wave
{
    width: 46px;
    height: 46px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 32px;
}

.button2:hover
{
    color: white;
    background-color: #0065FC;
    padding-right: 18px;
    padding-left: 0px;
    margin: 0px;
}

.button3
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 27%;
    flex-wrap: nowrap;
    width: 240px;
    height: 48px;
    padding-right: 18px;
    padding-left: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
    border: 2px solid #d8d6d6;
    border-radius: 32px;
}

.fa-child
{
    width: 46px;
    height: 46px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 38px;
}

.button3:hover
{
    color: white;
    background-color: #0065FC;
    padding-right: 18px;
    padding-left: 0px;
    margin: 0px;
}

.button4
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 22%;
    flex-wrap: nowrap;
    width: 144px;
    height: 48px;
    padding-right: 18px;
    padding-left: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
    border: 2px solid #d8d6d6;
    border-radius: 32px;
}

.fa-heart
{   
    width: 46px;
    height: 46px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 38px;
}

.button4:hover
{
    color: white;
    background-color: #0065FC;
    padding-right: 18px;
    padding-left: 0px;
    margin: 0px;
}

.button5
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 25%;
    flex-wrap: nowrap;
    width: 175px;
    height: 48px;
    padding-right: 18px;
    padding-left: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
    border: 2px solid #d8d6d6;
    border-radius: 32px;
}

.fa-dog
{
    width: 46px;
    height: 46px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 38px;
}

.button5:hover
{
    color: white;
    background-color: #0065FC;
    padding-right: 18px;
    padding-left: 0px;
    margin: 0px;
}

.info
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    align-content: space-between;
    flex-wrap: nowrap;
    width: 420px;
    height: 60px;
    padding: 0px;
    margin: 0px;
}

.fa-info
{
    width: 22px;
    height: 22px;
    font-size: 16px;
    color: #0065FC;
    border: 1px solid #d8d6d6;
    border-radius: 38px;
}

.more
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 384px;
    height: 24px;
    padding-left: 16px;
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
}

.middle
{
    position: static;
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0px;
    width: 1248px;
    height: 576px;
    padding: 0px;
    margin: 0px;
}

.middle-heading
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    visibility: hidden;
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
}

.left
{
    position: static;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
    flex-basis: 66%;
    flex-wrap: nowrap;
    gap: 24px;
    width: 768px;
    height: 576px;
    padding: 0px;
    margin-right: 24px;
    background-color: #F2F2F2;
    border-radius: 25px;
}

.left-heading
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.accom
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 744px;
    height: 24px;
    padding-top: 36px;
    padding-left: 0px;
    margin: 0px;
    font-size: 20px;
    font-weight: 500;
}

.card-box1
{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    flex-grow: 1;
    flex-wrap: nowrap;
    gap: 24px;
    width: 768px;
    height: 216px;
    padding: 0px;
    margin: 0px;
}

.card1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 224px;
    height: 175px;
    padding: 0px;
    margin: 0px;
    background-color: white;
    border: white;
    border-style: solid;
    border-width: 4px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px #d6d1d1;
}

.card1-image
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 60%;
    width: 224px;
    height: 105px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.card1-image img
{
    object-fit: cover;
    width: 224px;
    height: 105px;
}

.card1-info
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-basis: 40%;
    flex-wrap: nowrap;
    gap: 3px;
    width: 180px;
    height: 72px;
    padding-left: 12px;
    margin: 0px;
}

.card1-title
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 28%;
    flex-wrap: nowrap;
    width: 180px;
    height: 18px;
    font-size: 16px;
    font-weight: 500;
}

.description
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 28%;
    flex-wrap: nowrap;
    gap: 6px;
    width: 144px;
    height: 18px;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-weight: 400;
}

.star-rating
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 28%;
    flex-wrap: nowrap;
    width: 90px;
    height: 18px;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}

.checked
{
    color: #0065FC;
}

.unchecked
{
    color: #F2F2F2;
}

.card1:hover
{
    box-shadow: 0.5px 1px #d6d1d1;
    padding: 0px;
    margin: 0px;
}

.card-box2
{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    flex-grow: 1;
    flex-wrap: nowrap;
    gap: 24px;
    width: 768px;
    height: 216px;
    padding: 0px;
    margin: 0px;
}

.card2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 224px;
    height: 175px;
    padding: 0px;
    margin: 0px;
    background-color: white;
    border: white;
    border-style: solid;
    border-width: 4px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px #d6d1d1;
}

.card2-image
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 60%;
    width: 224px;
    height: 105px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.card2-image img
{
    object-fit: cover;
    width: 224px;
    height: 105px;
}

.card2-info
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 40%;
    flex-wrap: nowrap;
    gap: 3px;
    width: 175px;
    height: 72px;
    padding-left: 12px;
    margin: 0px;
}

.card2-title
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 28%;
    flex-wrap: nowrap;
    width: 168px;
    height: 18px;
    font-size: 16px;
}

.card2:hover
{
    box-shadow: 0.5px 1px #d6d1d1;
    padding: 0px;
    margin: 0px;
}

.show
{   
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: nowrap;
    width: 744px;
    padding-bottom: 36px;
    padding-left: 0px;
    font-size: 16px;
    font-weight: 500;
}

.right
{
    position: static;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    flex-basis: 33%;
    width: 384px;
    height: 576px;
    padding-bottom: 24px;
    margin-left: 24px;
    background-color: #F2F2F2;
    border-radius: 25px;
}

.right-heading
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-basis: 10%;
    width: 336px;
    height: 24px;
    padding: 0px;
    margin: 0px;
}

.most
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    width: 144px;
    height: 24px;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-weight: 500;
}

.fa-chart-line
{
    justify-content: flex-end;
    flex-wrap: nowrap;
    width: 24px;
    height: 24px;
    padding: 0px;
}

.card3
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-wrap: nowrap;
    flex-basis: 20%;
    gap: 18px;
    width: 336px;
    height: 132px;
    padding: 0px;
    margin: 0px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 10px #d6d1d1;
}

.card3 a
{
    display: flex;
    flex-direction: row;
}

.card3-image
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    flex-basis: 42%;
    width: 130px;
    height: 120px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border: white;
    border-style: solid;
    border-width: 4px;
    border-radius: 20px 0px 0px 20px;
}

.card3-image img
{
    object-fit: cover;
    width: 130px;
    height: 120px;
}

.card3-info
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 58%;
    gap: 12px;
    width: 175px;
    height: 114px;
    padding-top: 12px;
    padding-left: 12px;
    margin: 0px;
}

.card3-title
{
    width: 168px;
    height: 36px;
    font-size: 16px;
}

.card3:hover
{
    box-shadow: 0.5px 1px #d6d1d1;
    padding: 0px;
    margin: 0px;
}

.bottom-heading
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 1248px;
    height: 30px;
    padding-top: 24px;
    margin: 0px;
}

.activ
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    width: 288px;
    height: 24px;
    padding: 0px;
    margin: 0px;
    font-size: 21px;
    font-weight: 500;
}

.bottom
{
    position: static;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;
    flex-wrap: wrap;
    gap: 33px;
    width: 1248px;
    height: 480px;
    padding: 0px;
    margin: 0px;
}

.card4
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 288px;
    height: 432px;
    padding: 0px;
    margin: 0px;
    border-radius: 20px;
    box-shadow: 0 5px 10px #d6d1d1;
}

.card4-image
{
    width: 288px;
    height: 384px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.card4-image img
{   
    object-fit: cover;
    width: 288px;
    height: 384px;
}

.card4-info
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 288px;
    height: 48px;
    padding: 0px;
    margin: 0px;
}

.card4-title
{
    width: 248px;
    font-size: 16px;
}

.card4:hover
{
    box-shadow: 0 0.5px 1px #d6d1d1;
    padding: 0px;
    margin: 0px;
}

.card-block1
{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 33px;
    padding: 0px;
    margin: 0px;
}

.card5
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 288px;
    height: 240px;
    padding: 0px;
    margin: 0px;
    border-radius: 20px;
    box-shadow: 0 5px 10px #d6d1d1;
}

.card5-image
{
    width: 288px;
    height: 192px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.card5-image img
{
    object-fit: cover;
    width: 288px;
    height: 192px;
}

.card5-info
{    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 288px;
    height: 48px;
    padding: 0px;
    margin: 0px;
}

.card5-title
{
    width: 248px;
    font-size: 16px;
}

.card5:hover
{
    box-shadow: 0 0.5px 1px #d6d1d1;
    padding: 0px;
    margin: 0px;
}

.card7
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 288px;
    height: 160px;
    padding: 0px;
    margin: 0px;
    border-radius: 20px;
    box-shadow: 0 5px 10px #d6d1d1;
}

.card7-image
{
    width: 288px;
    height: 112px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.card7-image img
{
    object-fit: cover;
    width: 288px;
    height: 112px;
}

.card7-info
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 288px;
    height: 48px;
    padding: 0px;
    margin: 0px;
}

.card7-title
{
    width: 248px;
    font-size: 16px;
}

.card7:hover
{
    box-shadow: 0 0.5px 1px #d6d1d1;
    padding: 0px;
    margin: 0px;
}

.card-block2
{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 0px;
    margin: 0px;
}

.card6
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 288px;
    height: 200px;
    padding: 0px;
    margin: 0px;
    border-radius: 20px;
    box-shadow: 0 5px 10px #d6d1d1;
}

.card6-image
{
    width: 288px;
    height: 154px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.card6-image img
{
    object-fit: cover;
    width: 288px;
    height: 154px;
}

.card6-info
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 288px;
    height: 48px;
    padding: 0px;
    margin: 0px;
}

.card6-title
{
    width: 248px;
    font-size: 16px;
}

.card6:hover
{
    box-shadow: 0 0.5px 1px #d6d1d1;
    padding: 0px;
    margin: 0px;
}

.footer
{
    position: static;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 144px;
    width: 1348px;
    height: 240px;
    padding: 0px;
    margin: 0px;
    color: black;
    background-color: #F2F2F2;
    background-size: 1200px;
}
 
.footcontainer
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-around;
    flex-wrap: nowrap;
    gap: 12px;
    width: 288px;
    height: 144px;
    padding-left: 30px;
    margin: 0px;
}

.footheader
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 216px;
    height: 30px;
    font-size: 16px;
    list-style: none;
}

.footnote
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 216px;
    height: 24px;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}    


@media screen and (min-width: 768px) and (max-width: 992px)
{
    .maincontainer
    {
        left: 9px;
        width: 750px;
    }
    
    .header
    {
        width: 750px;
    }

    .top
    {
        width: 750px;
    }

    .filters
    {
        width: 750px;
    }

    .buttons
    {
        width: 636px;
    }

    .middle
    {
        flex-direction: column;
        width: 750px;
        height: 1200px;
    }

    .left
    {
        flex-basis: 55%;
        width: 750px;
        height: 576px;
        padding: 0px;
        margin-right: 0px;
        margin-bottom: 24px;
    }

    .accom
    {
        width: 720px;
        padding-left: 0px;
    }

    .card-box1
    {
        gap: 14px;
        width: 744px;
        height: 240px;
    }

    .card-box2
    {
        gap: 14px;
        width: 744px;
        height: 240px;
    }

    .show
    {
        padding-left: 24px;
    }

    .right
    {
        flex-direction: row;
        flex-basis: 45%;
        width: 750px;
        height: 360px;
        padding-top: 72px;
        margin-top: 24px;
        margin-left: 0px;
    }

    .right-heading
    {
        position: absolute;
        top: 1152px;
        width: 672px;
    }

    .card3
    {
        flex-direction: column;
        justify-content: flex-start;
        width: 216px;
        height: 384px;
    }

    .card3 a 
    {
        flex-direction: column;
        width: 216px;
        height: 384px;
    }

    .card3-image
    {
        flex-basis: 50%;
        width: 208px;
        height: 212px;
        border-radius: 20px 20px 0px 0px;
    }

    .card3-image img
    {
        width: 208px;
        height: 212px;
    }

    .card3-info
    {
        flex-basis: 50%;
        height: 148px;
    }

    .bottom-heading
    {
        width: 696px;
        padding-left: 48px;
    }

    .bottom
    {
        width: 750px;
        height: 1060px;
        padding-right: 18px;
        padding-bottom: 96px;
        padding-left: 18px;
    }

    .margin1
    {
        padding-bottom: 42px;
    }

    .margin2
    {
        padding-bottom: 42px;
    }

    .footer
    {
        gap: 14px;
        width: 768px;
        background-size: 768px;
    }
    
    .footcontainer
    {
        width: 216px;
    }
}


@media screen and (min-width: 288px) and (max-width: 767px)
{    
    .maincontainer
    {
        left: 0px;
        justify-content: center;
        align-content: center;
        width: 375px;
    }
   
    .header
    {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 24px;
        width: 375px;
        height: 168px;
        padding-top: 24px;
    }

    .logo
    {
        justify-content: center;
        width: 96px;
        height: 48px;
        padding-left: 24px;
    }

    .nav-links
    {
        justify-content: space-evenly;
        align-content: space-around;
        gap: 48px;
        width: 375px;
        border-top: hidden;
        border-bottom: 4px solid  #F2F2F2;
    }

    .nav-links li
    {
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        width: 132px;
        height: 24px;
        margin-left: 12px;
    }

    .nav-links li:hover
    {   
        padding-top: 24px;
        padding-bottom: 10px;
        border-top: hidden;
        border-bottom: 4px solid #0065FC;
    }

    .nav-links li:active
    {   
        border-top: hidden;
        border-bottom: 4px solid #0065FC;
    }

    .top
    {
        align-items: flex-start;
        align-content: flex-start;
        width: 375px;
        height: 504px;
        padding-left: 24px;
    }

    .top-heading
    {
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        width: 336px;
        height: 84px;
    }
    
    h3
    {
        width: 336px;
        height: 48px;
        font-size: 22px;
    }

    .search-box
    {
        align-items: center;
        width: 324px;
        height: 48px;
    }

    .fa-location-dot 
    {
        flex-basis: 15%;
    }

    .input
    {
        justify-content: space-between;
        align-content: space-between;
        flex-basis: 75%;
        width: 207px;
        height: 46px;
        padding-left: 21px;
        font-size: 18px;
    }

    .button1
    {
        flex-basis: 0%;
        width: 0px;
        visibility: hidden;
    }
    .iconbutton
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 18%;
        width: 48px;
        height: 48px;
        padding: 0px;
        margin: 0px;
        background-color: #0065FC;
        border-style: none;
        border-radius: 15px;
        visibility: visible;
    }

    .fa-magnifying-glass
    {
        flex-basis: 70%;
        width: 46px;
        height: 46px;
        padding: 1px;
        color: white;
        font-size: 17px;
        border-radius: 10px;
        visibility: visible;
    }

    .filters
    {
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 348px;
        height: 240px;
    }

    .preview
    {
        flex-wrap:nowrap;
        width: 72px;
        padding: 0px;
        font-size: 18px;
    }

    .buttons
    {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
        gap: 18px;
        width: 336px;
        height: 180px;
    }

    .button2
    {
        order: 1;
        width: 150px;
    }

    .button3
    {
        order: 2;
        flex-basis: 21%;
        width: 180px;
        padding-right: 6px;
    }
    
    .button4
    {
        position: relative;
        right: 60px;
        order: 4;
        flex-basis: 21%;
        width: 150px;
        padding-right: 14px;
    }

    .button5
    {
        order: 3;
        flex-basis: 21%;
        width: 216px;
        padding-right: 55px;
    }

    .info
    {
        align-content: space-around;
        width: 336px;
        height: 48px;
    }

    .more
    {
        width: 312px;
        height: 48px;
    }

    .middle
    {   
        flex-direction: column-reverse;
        justify-content: center;
        align-content: space-around;
        gap: 24px;
        width: 375px;
        height: 2112px;
    }

    .right
    {   
        justify-content: space-evenly;
        flex-basis: 32%;
        gap: 4px;
        width: 375px;
        height: 672px;
        padding: 0px;
        margin: 0px;
        border-radius: 0px;
    }

    .right-heading
    {
        align-items: flex-end;
        width: 336px;
    }

    .most
    {
        width: 168px;
        font-size: 24px;
    }

    .card3
    {
        flex-basis: 23%;
        width: 336px;
        height: 156px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .card3-image
    {
        flex-basis: 45%;
        width: 144px;
        height: 144px;
        border-width: 6px;
    }

    .card3-image img
    {
        width: 144px;
        height: 144px;
    }

    .left
    {
        justify-content: center;
        align-content: center;
        flex-basis: 67%;
        gap: 6px;
        width: 375px;
        height: 1416px;
        padding: 0px;
        margin: 0px;
        background: none;
        border-radius: 0px;
    }

    .left-heading
    {
        width: 360px;
        height: 60px;
    }

    .accom
    {
        width: 360px;
        padding-top: 24px;
        padding-bottom: 12px;
        padding-left: 24px;
        font-size: 23px;
    }

    .card-box1
    {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 2px;
        width: 360px;
        height: 648px;
    }

    .card1
    {
        width: 336px;
        height: 192px;
        margin: 10px;
    }

    .card1-image
    {
        width: 336px;
    }

    .card1-image img
    {
        width: 336px;
    }

    .card1-info
    {
        width: 300px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .card-box2
    {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 2px;
        width: 360px;
        height: 648px;
    }
    
    .card2
    {
        width: 336px;
        height: 192px;
        margin: 10px;
    }

    .card2-image
    {
        width: 336px;
    }

    .card2-image img
    {
        width: 336px;
    }

    .card2-info
    {
        width: 300px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .show
    {
        align-items: flex-end;
        width: 336px;
        padding-left: 24px;
        padding-bottom: 0px;
        font-size: 20px;
    }

    .bottom-heading
    {
        width: 336px;
        padding-left: 0px;
    }

    .bottom
    {
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 24px;
        width: 375px;
        height: 1344px;
        padding: 0px;
    }

    .card4 
    {
        width: 336px;
        height: 192px;
    }

    .card4-image
    {
        width: 336px;
        height: 144px;
    }

    .card4-image img
    {
        width: 336px;
        height: 144px;
    }

    .card4-title
    {
        height: 24px;
    }

    .margin1
    {
        width: 336px;
        padding-bottom: 0px;
    }

    .card5 
    {
        width: 336px;
        height: 192px;
    }

    .card5-image
    {
        width: 336px;
        height: 144px;
    }

    .card5-image img
    {
        width: 336px;
        height: 144px;
    }

    .card5-title
    {
        height: 24px;
    }

    .card7 
    {
        width: 336px;
        height: 192px;
    }

    .card7-image
    {
        width: 336px;
        height: 144px;
    }
    
    .card7-image img
    {
        width: 336px;
        height: 144px;
    }

    .card7-title
    {
        height: 24px;
    }

    .margin2
    {
        width: 336px;
    }

    .card6 
    {
        width: 336px;
        height: 192px;
    }

    .card6-image
    {
        width: 336px;
        height: 144px;
    }
    

    .card6-image img
    {
        width: 336px;
        height: 144px;
    }

    .card6-title
    {
        height: 24px;
    }
    
    .footer 
    {
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        gap: 48px;
        width: 375px;
        height: 528px;
        padding-top: 48px;
    }

    .footcontainer
    {
        align-items: baseline;
        align-content: center;
        width: 312px;
        height: 120px;
        padding: 0px;
    }

    .footnote
    {
        width: 240px;
        font-size: 16px;
    }
}
