@media only screen and (min-width: 992px){ 
    body{
    font-family: Raleway, sans-serif;
    font-size: 21px;
    color: black; 
    text-align: center;
}

flexbox

body

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-sizing: content-box;       
    width: 100%; height: 100%;
}

flexbox

.header {
    box-sizing: content-box;
    width: 90%; height: 5%;
}

flexbox

.top {
    box-sizing: top-box;
    width: 90%; height: 15%;
}

flexbox

.left side {
    box-sizing: left side-box;
    width: 60%; height: 40%; background-color: #f2f2f2;
}

flexbox

.right side {
    box-sizing: right side-box;
    width: 30%; height: 40%; background-color: #F2F2F2;
}

flexbox

.middle {
    box-sizing: middle-box;
    width: 90%; height: 30%;
}

flexbox

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-sizing: bottom-box;
    width: 100%; height: 10%;
    background-color: #F2F2F2;
}
}



