@media only screen and (min-width: 992px){ 
    body{
    font-family: Raleway, sans-serif;
    font-size: 21px;
    color: black; 
    text-align: center;
}

flexbox

.flex-body {
    width: 100%; height: 100%;
}
.flex-main {
    width: 100%; height: 100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: content-box;       
    width: 100%; height: 100%;
}

.flex-header {
    box-sizing: content-box;
    width: 90%; height: 5%;
}

.flex-top {
    box-sizing: top-box;
    width: 90%; height: 15%;
}

.flex-middle {

}

.flex-left {
    box-sizing: left side-box;
    width: 60%; height: 40%; background-color: #f2f2f2;
}

.flex-right {
    box-sizing: right side-box;
    width: 30%; height: 40%; background-color: #F2F2F2;
}

.flex-bottom {
    box-sizing: middle-box;
    width: 90%; height: 30%;
}

.flex-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-sizing: bottom-box;
    width: 100%; height: 10%;
    background-color: #F2F2F2;
}
}



