@media only screen and (min-width: 992px) { 
    
body {
    font-family: Raleway, sans-serif;
    font-size: 21px;
    color: black; 
    text-align: center;
}

.flex-contents {
    box-sizing: content-box;
    width: 100%; height: 100%;
    display: flex;
}

.flex-container {
    box-sizing: content-box;       
    width: 100%; height: 100%px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.flex-header {
    box-sizing: border-box;
    width: 90%; height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;        
}

.flex-logo {
    box-sizing: border-box;
    width: 10%; height: 6%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-links {
    box-sizing: border-box;
    width: 25%; height: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
}

.flex-top {
    box-sizing: border-box;
    width: 90%; height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
}

.flex-middle {
    box-sizing: border-box;
    width: 90%; height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flex-left {
    box-sizing: border-box;
    width: 60%; height: 40%; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    background-color: #f2f2f2;
}

.flex-right {
    box-sizing: border-box;
    width: 30%; height: 40%; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    background-color: #F2F2F2;
}

.flex-bottom {
    box-sizing: border-box;
    width: 90%; height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.flex-footer {
    box-sizing: border-box;
    width: 100%; height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
    background-color: #F2F2F2;
}
    
}
    
    
    
    
    
    